@charset "UTF-8";
/* header */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,800;0,900;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav__principal {
  height: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  /* navigation buttons */
  /* drop down menu check */
}
.nav__principal .nav__desplegable {
  display: none;
  top: -2;
  left: 10px;
}
.nav__principal .nav__links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav__principal .nav__links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  transition: transform 0.1s ease-in-out;
}
.nav__principal .nav__links a:hover {
  transform: scale(1.2);
}
.nav__principal #nav-check {
  display: none;
}

@media (max-width: 576px) {
  .nav__principal .nav__desplegable {
    display: inline-block;
  }
  .nav__principal .nav__desplegable label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav__principal .nav__desplegable label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    margin-left: 10px;
  }
  .nav__principal .nav__desplegable label span:not(:first-child) {
    display: none;
  }
  .nav__principal .nav__desplegable label:hover, .nav__principal .nav__desplegable .nav__principal #nav-check:checked ~ .nav__desplegable > label {
    cursor: pointer;
    background-color: rgba(82, 80, 80, 0.1);
    border-radius: 10%;
  }
  .nav__principal .nav__links {
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    z-index: 100;
  }
  .nav__principal .nav__links a {
    display: block;
    width: 100%;
    transform: none !important;
  }
  .nav__principal .nav__links a:hover {
    background-color: #f2f2f2;
    color: #000;
  }
  .nav__principal #nav-check:not(:checked) ~ .nav__links {
    height: 0px;
  }
  .nav__principal #nav-check:checked ~ .nav__links {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
}
/* inicio */
.conteiner__bodyinicio {
  width: 100%;
  height: 100%;
  /* sticker img inicio */
  /* img sticker incio */
}
.conteiner__bodyinicio .bg__img {
  background-image: url("../media/bg__img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
  position: absolute;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%); /* Inicia la imagen fuera de la pantalla, en el extremo derecho */
  }
  100% {
    transform: translateX(0); /* La imagen se desliza hacia la posición original */
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.conteiner__bodyinicio .sticker___conteiner {
  bottom: 0;
  right: 0;
  position: absolute;
  max-width: 100%;
  height: auto;
  animation: slideIn 1s ease-in-out, fadeOut 2s ease-in-out;
}
.conteiner__bodyinicio .sticker___conteiner img {
  max-width: 100%;
  height: 80vh;
}
.conteiner__bodyinicio .conteiner__maininicio main {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  animation: fadeOut 2s ease-in-out;
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.conteiner__bodyinicio .conteiner__maininicio h1 {
  color: rgba(255, 235, 205, 0.904);
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 0.5px #000;
}
.conteiner__bodyinicio .conteiner__maininicio h2 {
  color: rgba(255, 255, 255, 0.904);
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px 1px 1px 1px #000;
}
.conteiner__bodyinicio .footer__principal {
  position: absolute;
  bottom: 0;
}

@media (max-width: 576px) {
  .main__principal {
    top: 30vh !important;
    left: 35vw !important;
  }
  .sticker___conteiner {
    height: 50%;
    animation: slideIn 1s ease-in-out, fadeOut 2s ease-in-out;
  }
}
/* footer */
.footer__principal {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-left: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* buttons social networks */
}
.footer__principal .buttons__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.footer__principal .buttons__nav li {
  display: inline-block;
  margin-right: 10px;
}
.footer__principal .buttons__nav a {
  color: #efefef;
}
.footer__principal .buttons__nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .footer__principal {
    margin-left: 0;
    bottom: 0;
    height: auto !important;
  }
  .footer__principal .buttons__nav {
    margin-left: 15%;
  }
}
@media (max-width: 576px) {
  .footer__principal {
    margin-left: 0;
    bottom: 0;
  }
  .footer__principal .buttons__nav {
    margin-left: 15%;
    margin-top: 0px;
  }
  .footer__principal .buttons__nav .icons {
    font-size: 30px !important;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
body .bg__img {
  background-image: url("../media/bg__img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100% !important;
  z-index: -1;
  position: absolute;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
body .contenedor__sobremi {
  display: flex;
  padding: 20px;
  margin: 50px;
}
body .div__sobremi {
  display: flex;
  position: relative;
  padding: 15px;
  margin-right: 40px;
  margin-top: 5%;
  width: 25vw;
  height: auto;
  border-radius: 10px;
  animation: fadeOut 1.5s ease-in-out;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(39, 37, 37, 0.8);
  background-image: linear-gradient(to bottom, rgba(17, 16, 16, 0.8), rgba(100, 100, 100, 0.8));
}
body .conteiner__principalsobremi {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .conteiner__principalsobremi img {
  width: 100%;
  justify-content: center;
  border-radius: 5px;
}
body .conteiner__principalsobremi p {
  margin-top: 10px;
  text-align: center;
  color: aliceblue;
}
body .conteiner__bodysobremi .footer__principal {
  position: absolute;
}

@media (max-width: 766px) {
  .conteiner__bodysobremi .footer__principal {
    position: relative !important;
  }
  .div__sobremi {
    margin-right: 15px;
  }
}
@media (max-width: 576px) {
  .conteiner__bodysobremi .footer__principal {
    position: relative !important;
  }
  .div__sobremi {
    margin-top: 45px !important;
    width: auto !important;
    position: relative !important;
  }
  .div__sobremi div img:hover {
    scale: 1.2;
    position: relative;
    transition: ease-in-out 1s;
  }
}
/* galeria */
.body__gallery {
  height: 100%;
  width: 100%;
}
.body__gallery .footer__principal {
  position: relative;
}

.bg__galleryimg {
  background-image: url("../media/bg__img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100% !important;
  z-index: -1;
  position: absolute;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.conteiner__gallery {
  position: relative;
  z-index: 10;
  margin: 15px;
  height: 100% !important;
}
.conteiner__gallery .conteiner__img {
  margin-top: 15vh;
  animation: fadeOut 1.5s ease-in-out;
}
.conteiner__gallery .conteiner__img .img__galeriaslot {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 25px;
}
.conteiner__gallery .conteiner__img .img__galeriaslot img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.conteiner__gallery .conteiner__img .img__galeriaslot img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid blanchedalmond;
}

.carrousel__mobile {
  display: none;
}

/* carrousel mobile */
@media (max-width: 576px) {
  .conteiner__gallery {
    display: none;
  }
  .body__gallery .footer__principal {
    position: absolute;
  }
  .body__gallery .bg__galleryimg {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .carrousel__mobile {
    display: block;
  }
  #slider {
    position: relative;
    overflow: hidden;
    margin: 45% auto 0 auto;
    border-radius: 4px;
  }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  #slider ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a.control_prev, a.control_next {
    position: absolute;
    top: 80%;
    z-index: 100;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }
  a.control_prev {
    left: 0;
    border-radius: 0 2px 2px 0;
  }
  a.control_next {
    left: 100vw;
    transform: translateX(-100%);
    /*right: 50%; 
    transform: translateX(150%);
    border-radius: 0 2px 2px 0;*/
  }
  .autoplay_option {
    position: relative;
    margin: 10px auto;
    width: 180px;
    font-size: 26px;
  }
}
/* animations */
@keyframes slideFadeFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFadeFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
/* body experiencia */
body .body__experiencia {
  height: 100%;
  width: 100%;
}
body .body__experiencia .footer__principal {
  position: absolute;
  height: auto;
  bottom: 0;
  width: 100%;
  margin-left: 0;
}

.bg__experienciaimg {
  background-image: url("../media/bg__img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

.conteiner__experiencia {
  margin-top: 15vh;
}
.conteiner__experiencia .conteiner__izquierdo {
  background-color: rgba(20, 20, 20, 0.8);
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slideFadeFromLeft 1s ease-in-out;
}
.conteiner__experiencia .conteiner__izquierdo .educacion h2 {
  background-color: #57606f;
  color: #eee;
  font-weight: bold;
}
.conteiner__experiencia .conteiner__izquierdo .educacion ul h4 {
  color: aliceblue;
}
.conteiner__experiencia .conteiner__izquierdo .educacion ul li p {
  color: #eee;
}
.conteiner__experiencia .conteiner__izquierdo .educacion h3 {
  color: #eee;
  background-color: #57606f;
}
.conteiner__experiencia .conteiner__derecho {
  background-color: rgba(20, 20, 20, 0.8);
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 0px;
  animation: slideFadeFromRight 1s ease-in-out;
}
.conteiner__experiencia .conteiner__derecho .experiencialaboral h2 {
  background-color: #57606f;
  color: #eee;
  font-weight: bold;
}
.conteiner__experiencia .conteiner__derecho .experiencialaboral ul li p {
  color: #eee;
}
.conteiner__experiencia .conteiner__derecho .experiencialaboral ul h4 {
  color: #eee;
}

@media (max-width: 991px) {
  .body__experiencia .conteiner__experiencia {
    margin-top: 54px;
  }
}
@media (max-width: 576px) {
  .body__experiencia .bg__experienciaimg {
    position: fixed;
    background-attachment: fixed;
    background-repeat: repeat-y;
  }
  .body__experiencia .footer__principal {
    position: relative !important;
  }
  .conteiner__experiencia {
    margin-top: 55px;
  }
}
@keyframes slideFadeFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body .conteiner__bodycontactame .bg__contactame {
  background-image: url("../media/bg__img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100% !important;
  z-index: -1;
  position: absolute;
  margin-right: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
body .conteiner__bodycontactame .footer__principal {
  position: absolute;
  height: auto;
  bottom: 0;
  width: 100%;
  margin-left: 0;
}
body .conteiner__bodycontactame .section__contactame {
  animation: slideFadeFromLeft 1s ease-in-out;
}
body .conteiner__bodycontactame .section__contactame .conteiner__sectioncontactame {
  position: relative;
  margin-top: 45%;
}

@media (max-width: 768px) {
  body .conteiner__sectioncontactame {
    margin-top: 50%;
  }
  body .conteiner__sectioncontactame .footer__principal {
    position: absolute;
  }
}
@media (max-width: 576px) {
  body .conteiner__sectioncontactame {
    margin-top: 50%;
  }
  body .conteiner__sectioncontactame .footer__principal {
    position: absolute;
  }
}
.nav__principal, .footer__principal {
  width: 100%;
  left: 0;
  z-index: 100;
}

/* glass effect */ /* google font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "work Sans", "sans-serif";
  overflow-x: hidden;
  /* icons */
}
body .fa {
  font-size: 45px;
  height: 100%;
  transition: transform 0.1s ease-in-out;
  margin-right: 25px;
}
body .fa:hover {
  transform: scale(1);
}
body .icon__barras {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 55px;
}
body .footer__principal {
  margin-left: 0;
  margin-right: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-left: 0;
}

@media (max-width: 576px) {
  /* gallery 
  .body__gallery {
      height: 100% !important;
  }

  .bg__galleryimg {
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      width: 100%;
      height: 100% !important; 
      z-index: -1;
      position: fixed;
      background-attachment: fixed;
  }

  .conteiner__gallery {
      position: relative;
      z-index: 10;
      margin: 15px;
      height: 100% !important;
      transition: 0.3s ease-in-out;
      .conteiner__img {
          margin-top: 60px;
      }
  }  */
}

/*# sourceMappingURL=style.css.map */
