@import './abstract/colors';
@import './componentes/header';
@import './componentes/inicio';
@import './componentes/footer';
@import './componentes/sobremi';
@import './componentes/galeria';
@import './componentes/experiencia';
@import './componentes/contactame';
@import './abstract/extend';
@import './abstract/maps';
@import './abstract/variables';
@import './componentes/allpages';


@media (max-width:576px){
/* gallery 
.body__gallery {
    height: 100% !important;
}

.bg__galleryimg {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100% !important; 
    z-index: -1;
    position: fixed;
    background-attachment: fixed;
}

.conteiner__gallery {
    position: relative;
    z-index: 10;
    margin: 15px;
    height: 100% !important;
    transition: 0.3s ease-in-out;
    .conteiner__img {
        margin-top: 60px;
    }
}  */ 
}    