@keyframes slideFadeFromLeft {
    0% {
    transform: translateX(-100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

body {
    .conteiner__bodycontactame {
        .bg__contactame {
            background-image: url("../media/bg__img.jpg");
            background-size: cover;
            background-position: center;
            width: 100%; 
            height: 100% !important; 
            z-index: -1;
            position: absolute;
            margin-right: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-repeat: no-repeat;
        }
        .footer__principal{
            position: absolute;
            height: auto;
            bottom: 0;
            width: 100%;
            margin-left: 0;
        }
        .section__contactame {
            animation: slideFadeFromLeft 1s ease-in-out;
            .conteiner__sectioncontactame {
                position: relative;
                margin-top: 45%;  
            }
        }
    }
}


@media (max-width:768px) {
    body {
        .conteiner__sectioncontactame {
            margin-top: 50%;
            .footer__principal {
                position: absolute;
            }
        }
    }   
}


@media (max-width:576px){
    body {
        .conteiner__sectioncontactame {
            margin-top: 50%;
            .footer__principal {
                position: absolute;
            }
        }
    }   
}

