/* animations */
@keyframes slideFadeFromLeft {
    0% {
    transform: translateX(-100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slideFadeFromRight {
    0% {
    transform: translateX(100%); 
        opacity: 0;
    }
    100% {
    transform: translateX(0); 
    }
}


/* body experiencia */
body{
    .body__experiencia {
        height: 100%;
        width: 100%;
        .footer__principal{
            position: absolute;
            height: auto;
            bottom: 0;
            width: 100%;
            margin-left: 0;
        }
    }
}

.bg__experienciaimg {
    background-image: url("../media/bg__img.jpg");
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100%; 
    z-index: -1;
    position: absolute;
    margin-right: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
} 

.conteiner__experiencia {
    margin-top: 15vh;
    .conteiner__izquierdo{
        background-color: rgb(20, 20, 20, 0.8);
        border-width: 1px;
        border-style: solid;
        border-color: #000;
        border-radius: 5px;
        padding: 10px 20px;
        animation: slideFadeFromLeft 1s ease-in-out;
        .educacion {
            h2 {
            background-color: #57606f;
            color: #eee;
            font-weight: bold;
            }
            ul {
                h4 {
                    color: aliceblue;
                }
                li {
                    p{
                        color: #eee;
                    }
                }
            }
            h3 {
                color: #eee;
                background-color: #57606f;
                
            }
        }
    }
    .conteiner__derecho {
        background-color: rgb(20, 20, 20, 0.8);
        border-width: 1px;
        border-style: solid;
        border-color: #000;
        border-radius: 5px;
        padding: 10px 20px;
        margin-left: 0px;
        animation: slideFadeFromRight 1s ease-in-out;
        .experiencialaboral { 
            h2 {
            background-color: #57606f;
            color: #eee;
            font-weight: bold;
            }
            ul {
                li {
                    p {
                        color: #eee;
                    }
                }
                h4 {
                    color: #eee;
                }
            }
        }
    }
}
    
@media (max-width:991px) {
    .body__experiencia{
        .conteiner__experiencia{
            margin-top: 54px;
        }
        .footer__principal {
            position: relative !important;
        }    
    }
    

}

@media (max-width:576px) {
    .body__experiencia{
        .bg__experienciaimg{
            position: fixed;
            background-attachment: fixed;
            background-repeat: repeat-y;
            }
        .footer__principal {
            position: relative !important;
        }
        
    }
        .conteiner__experiencia{
            margin-top: 55px; 
        }
}


