/* footer */
.footer__principal {
    @extend %orden;
    background-color: $color-bghf;
    color: #efefef;
    text-align: center; 
    margin-left: auto;
    height: 6%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* buttons social networks */
    .buttons__nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        li {
            display: inline-block;
            margin-right: 10px;
        }
            a {
            color: #efefef;
            }
            a:hover {
            color: rgba(255, 255, 255, 0.7);
            }
        }
}

@media (max-width:768px){
    .footer__principal {
        margin-left: 0;
        bottom: 0;
        .buttons__nav {
            margin-left: 15%;
        }
    }
}

@media (max-width:576px){
.footer__principal {
    margin-left: 0;
    bottom: 0;
    .buttons__nav {
        margin-left: 15%;
    }
}
}