/* galeria */
.body__gallery {
    height: 100%;
    width: 100%;
    .footer__principal{
        position: relative;
    }
}

.bg__galleryimg {
    background-image: url("../media/bg__img.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100% !important; 
    z-index: -1;
    position: absolute;
    margin-right: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

@keyframes fadeOut {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
} 

.conteiner__gallery {
    position: relative;
    z-index: 10;
    margin: 15px;
    height: 100% !important; 
    .conteiner__img {
        margin-top: 15vh;
        animation: fadeOut 1.5s ease-in-out;
        .img__galeriaslot {
            position: relative;
            z-index: 100;
            margin: 0;
            padding: 25px;
            img {
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin: 5px;
                border-radius: 5%;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            }
            img:hover{
                transform: scale(1.1);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                border: 5px solid blanchedalmond;
            }   
        }      
    }
}    
.carrousel__mobile {
    display: none;
    }

/* carrousel mobile */        
@media (max-width:576px){
.conteiner__gallery{
display: none;
}
.body__gallery{
    .footer__principal{
        position: absolute;
    }
    .bg__galleryimg{
        width: 100%;
        height: auto;
        position: absolute;
    }
}

.carrousel__mobile {
    display: block;
}
#slider{
    position: relative;
    overflow: hidden;
    margin: 45% auto 0 auto;
    border-radius: 4px;
}
#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}
#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    overflow: hidden;
    transition: width 0.5s ease;
}

#slider ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 80%;
    z-index: 100;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

  a.control_prev {
    left: 0; 
    border-radius: 0 2px 2px 0;
}

a.control_next {
    left: 100vw; 
    transform: translateX(-100%); 
    /*right: 50%; 
    transform: translateX(150%);
    border-radius: 0 2px 2px 0;*/
}

.autoplay_option {
    position: relative;
    margin: 10px auto;
    width: 180px;
    font-size: 26px;
}
}
