/* inicio */
.conteiner__bodyinicio{
    .bg__img {
        background-image: url("../media/bg__img.jpg");
        background-size: cover;
        background-position: center;
        width: 100%; 
        z-index: -1;
        position: absolute;
        margin-right: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
    } 
    .conteiner__maininicio{
        margin-top: 10vh;
        main {
            background-color: rgba(0,0,0, 0.7);
            border-radius: 10px;
            position: relative; 
            transition: transform 0.3s ease; 
        }
            h1 {
                color: rgba(255, 235, 205, 0.904); 
                font-size: 34px; 
                font-weight: 300;
                letter-spacing: 1px; 
                text-shadow: 0.5px #000;
            }
            h2 {
                color: rgba(255, 255, 255, 0.904); 
                font-size: 24px; 
                font-weight: 200; 
                letter-spacing: 1px; 
                text-shadow: 1px 1px 1px 1px 1px 1px #000;
            }
        }
        main:hover {
            transform: translate(0%, 50%) scale(1.5);
        }
    }       


